(defattrs :vertical [:plain {:writing-mode "vertical-rl"}])
(defattrs :box-middle {:borders #{:left :right}})


(draw-column-headers)
(draw-box "Version" {:span 4})
(draw-box "Traffic class" {:span 8})
(draw-box nil {:span 4})
(draw-box "Flow label" {:span 16})
(draw-box "Payload length" {:span 16})
(draw-box "Next header" {:span 8})
(draw-box "Hop limit" {:span 8})
(draw-box "Source address"  [{:span 16}, :box-above])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-below])
(draw-box "Destination address"  [{:span 16}, :box-above])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-middle])
(draw-box nil [{:span 16} :box-below])
