(def column-labels (mapv #(number-as-hex % 2) (range 32)))
(def boxes-per-row 32)
(defattrs :vertical [:plain {:writing-mode "vertical-rl"}])
(draw-column-headers)
(draw-box "Source port" {:span 16})
(draw-box "Destination port" {:span 16})
(draw-box "Sequence number" {:span 32})
(draw-box "Acknowledgement number" {:span 32})
(draw-box "Data offset" [{:span 4}, {:next-row-height 60}])
(draw-box "0" {:span 3})
(draw-box "NS" {:span 1})
(draw-box (text "CWR" :vertical) {:span 1})
(draw-box (text "ECE" :vertical) {:span 1})
(draw-box (text "URG" :vertical) {:span 1})
(draw-box (text "ACK" :vertical) {:span 1})
(draw-box (text "PSH" :vertical) {:span 1})
(draw-box (text "RST" :vertical) {:span 1})
(draw-box (text "SYN" :vertical) {:span 1})
(draw-box (text "FIN" :vertical) {:span 1})
(draw-box "Window size" {:span 16})
(draw-box "Checksum" [{:span 16}, {:next-row-height 40}])
(draw-box "Urgent pointer" {:span 16})
(draw-gap "Options (size set in data offset)")
(draw-bottom)