(def column-labels ["0", "1", "2", "3", "4", "5", "6", "7",
                    "8", "9", "10", "11", "12", "13", "14", "15",
                    "16", "17", "18", "19", "20", "21", "22", "23",
                    "24", "25", "26", "27", "28", "29", "30", "31"])
(def boxes-per-row 32)
(defattrs :vertical [:plain {:writing-mode "vertical-rl"}])
(draw-column-headers)
(draw-box "Source port" {:span 16})
(draw-box "Destination port" {:span 16})
(draw-box "Sequence number" {:span 32})
(draw-box "Acknowledgement number" {:span 32})
(draw-box "Data offset" [{:span 4}, {:next-row-height 60}])
(draw-box "0" {:span 3})
(draw-box "NS" {:span 1})
(draw-box (text "CWR" :vertical) {:span 1})
(draw-box (text "ECE" :vertical) {:span 1})
(draw-box (text "URG" :vertical) {:span 1})
(draw-box (text "ACK" :vertical) {:span 1})
(draw-box (text "PSH" :vertical) {:span 1})
(draw-box (text "RST" :vertical) {:span 1})
(draw-box (text "SYN" :vertical) {:span 1})
(draw-box (text "FIN" :vertical) {:span 1})
(draw-box "Window size" {:span 16})
(draw-box "Checksum" [{:span 16}, {:next-row-height 40}])
(draw-box "Urgent pointer" {:span 16})
(draw-gap "Options (size set in data offset)")
(draw-bottom)